@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?shhakv");
  src: url("fonts/icomoon.eot?#iefixshhakv") format('embedded-opentype'), url("fonts/icomoon.ttf?shhakv") format('truetype'), url("fonts/icomoon.woff?shhakv") format('woff'), url("fonts/icomoon.svg?shhakv#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icon-heart:before {
  content: "\e600";
}
.icon-icon-logo:before {
  content: "\e601";
}
